@import 'nib'
@require './../tmp'

.info
  .quicklinks
    top 705px
    left 0
    horAlign()
    position absolute
    margin-left 470px
    .quick
      btn()
      position relative
      size 80px 80px
      border-radius 50px
      margin-bottom 10px
      img
        position absolute
        left 23px
        top 23px
    #quick0
      background-color color_pink
    #quick1
      background-color color_blue
      img
        left 28px
    #quick2
      background-color color_red
  .infop
    margin-top 70px
    //margin-bottom 150px
    .infoblock
      //verAlign()
      .infoblock_header
        font-size 32px
        text-align center
        margin-right 100px
        margin-left 100px
        margin-bottom 50px
        border-radius 10px
        font-size 21px
        line-height 30px
        padding 40px
        color white
      .infoblock_image
        size 200px 200px
        horAlign()
        position absolute
      .infoadvicesblock
        margin-top 180px
        horAlign()
        background-color white
        border-radius 10px
        shadow1()
        size 600px 300px
        padding 50px
        .info_advice_header
          position relative
          font-size 21px
          text-align center
          margin-bottom 10px
        .info_advice_text
          position relative
          font-size 15px
          line-height 21px
          text-align center
        .paginator
          bottom 30px
          flexbox()
          horAlign()
          position absolute
          .adv
            size 10px 10px
            border-radius 5px
            background-color color_gray2
            btn()
            margin-left 5px
            margin-right 5px

        .arrow
          btn()
          verAlign()
          noselect()
          position absolute
        .left_arrow
          left -70px
        .right_arrow
          right -70px
    .infoblock0
      .infoimages
        flexbox()
        justify-content space-around
        .place
          margin-top 100px
          position relative
          .bubble
            position absolute
          img
            position relative
            height 270px
          .nextbtn
            position relative
            margin-top 10px
            margin-left auto
            margin-right auto
            size 160px 48px
            border-radius 5px
            btn()
            color white
            text-transform uppercase
            font-size 15px
            padding-top 15px
            img
              position absolute
              left 12px
              top 8px
              height 30px
        #work
          margin-right 20px
          .bubble
            top -180px
            left -100px
          .nextbtn
            padding-left 55px
            background-color color_blue
        #home
          margin-left 20px
          .bubble
            top -180px
            left -110px
          .nextbtn
            padding-left 75px
            background-color color_pink

        @media (max-width: res)
          padding-left 50px
          padding-right 50px
        @media (min-width: res)
          padding-left 180px
          padding-right 180px

    .infoblock1
      .infoblock_header
        background-color color_pink
      .infoadvicesblock
        .paginator
          .adv
            &.selected
              background-color color_pink
            &:hover
              background-color color_pink
    .infoblock2
      .infoblock_header
        background-color color_blue
      .infoadvicesblock
        .paginator
          .adv
            &.selected
              background-color color_blue
            &:hover
              background-color color_blue

  .spacer
    position relative
    height 150px