.infop#infop0
    .infoblock.infoblock0
        .infoimages
            .place#work
                .bubble
                    include bubble0.svg
                img(src='static/img/img3.png')
                .nextbtn НА РАБОТЕ
                    img(src='static/img/icon0.svg')
            .place#home
                .bubble
                    include bubble1.svg
                img(src='static/img/img4.png')
                .nextbtn ДОМА
                    img(src='static/img/icon1.svg')

.infop#infop2
    .infoblock.infoblock2
        .infoblock_header Боитесь простудиться на работе и прячетесь по углам от чихающих коллег? Понимаем, вам нельзя болеть: сорвутся встречи, сгорят все сроки и вообще все пойдёт наперекосяк. Поэтому мы собрали простые, но важные правила, которые могут помочь вам остаться в строю и не потерять часть заработка в сезон простуды и гриппа.
        .infoblock_image
            img(src='static/img/img5.png')
        .infoadvicesblock
            .info_advice_header Заголовок совета
            .info_advice_text Текст совета
            .paginator
            .arrow.left_arrow
                include la.svg
            .arrow.right_arrow
                include ra.svg

.infop#infop1
    .infoblock.infoblock1
        .infoblock_header В квартире хаос, проблемы домочадцев требуют участия, а вы того и гляди «расклеитесь»? Пока простуда не одолела вас окончательно, предлагаем вспомнить о профилактике и обрести несколько полезных привычек ради своего здоровья и спокойствия семьи.
        .infoblock_image
            img(src='static/img/img6.png')
        .infoadvicesblock
            .info_advice_header Заголовок совета
            .info_advice_text Текст совета
            .paginator
            .arrow.left_arrow
                include la.svg
            .arrow.right_arrow
                include ra.svg

.spacer

.quicklinks
    .quick#quick1
        img(src='static/img/icon0.svg')
    .quick#quick0
        img(src='static/img/icon1.svg')