@import 'nib'
@require './../tmp'

.test
  verAlign()
  height 650px
  .turns
    width 100%
    margin-bottom 50px
    svg
      horAlign()
    img
      horAlign()
      position absolute
      top 145px
      width 330px
  .success_image
    verAlign()
    position absolute
    margin-top -30px
  #success_image0
    left 60px
  #success_image1
    right 60px
  .testblock
    margin-top -60px
    horAlign()
    background-color white
    border-radius 10px
    shadow2()
    width 640px
    padding-left 30px
    padding-right 30px
    padding-top 50px
    padding-bottom 15px
    .questionblock
      position relative
      .question
        text-align center
        margin-bottom 50px
      .answers
        flexbox()
        justify-content space-between
        .answer
          btn()
          border-radius 10px
          border 1px solid color_orange
          padding 20px
          text-align center
          width 282px
          &:hover
            color white
            background-color color_orange
    .answerblock
      position relative
      .answerHeader
        text-align center
        margin-bottom 20px
        &.right
          color color_green
        &.wrong
          color color_red
      .answerText
        text-align center
        margin-bottom 20px
      .nextquestion
        width 120px
        btn()
        horAlign()
        color white
        padding 10px
        border-radius 10px
        background-color color_orange
        text-align center
        margin-bottom 20px
    .unsuccessblock
      .unsuccess_header
        font-size 21px
        color color_red
        text-align center
        margin-bottom 10px
      .unsuccess_text
        font-size 21px
        text-align center
        span
          text-decoration underline
          btn()
      .unsuccess_image
        img
          horAlign()
      .unsuccess_btn
        font-size 15px
        width 350px
        btn()
        horAlign()
        color white
        padding 10px
        border-radius 10px
        background-color color_orange
        text-align center
        margin-bottom 20px

    .successblock
      .supersuccess
        horAlign()
        position absolute
        top -97px
      .success_header
        color color_orange
        margin-bottom 10px
        font-size 26px
        text-align center
      .success_header2
        color color_orange
        margin-bottom 20px
        font-size 21px
        text-align center
      .successblock
        position relative
        margin-bottom 10px
        .successcheck
          position absolute
          top 4px
          left 0
        .successtext
          color #4a3415
          font-size 21px
          margin-left 36px
          padding-top 4px
          a
            font-weight 100
            //text-decoration none
            color #4a3415
      .success_btn
        font-size 15px
        margin-top 30px
        width 350px
        btn()
        horAlign()
        color white
        padding 10px
        border-radius 10px
        background-color color_orange
        text-align center
        margin-bottom 20px

    .hurts
      position absolute
      top 0
      right -60px

  .testcenter
    cntr()
    margin-top -50px
