.turns
    include test.svg
    img(src='static/img/test0.png')

.success_image#success_image0
    img(src='static/img/success0.png')
.success_image#success_image1
    img(src='static/img/success1.png')
.testblock
    .questionblock
        .question Вопрос
        .answers
            .answer#answer0 Ответ0
            .answer#answer1 Ответ1

    .answerblock
        .answerHeader Заголовок ответа
        .answerText Текст ответа
        .nextquestion ДАЛЬШЕ

    .successblock
        .supersuccess
            include promo.svg
        .success_header Поздравляем!
        .success_header2 Промокод на Витрум<sup>®</sup> уже близко! Вам необходимо:
        .successblock
            .successcheck
                include check2.svg
            .successtext Скопировать код и перейти на страницу Витрум<br>(30 таблеток) на сайте <a href='http://apteka.ru/catalog/vitrum-n30-tabl-po_76518/?utm_campaign=internetapteka&utm_source=ria.ru&utm_medium=promokod&utm_content=30' target='_blank'>Apteka.ru</a>
        .successblock
            .successcheck
                include check2.svg
            .successtext Вставить код на странице оформления заказа
        .successblock
            .successcheck
                include check2.svg
            .successtext Забрать заказ в аптеке рядом с домом
        .success_btn УЗНАТЬ, КАК УСТОЯТЬ ПЕРЕД ПРОСТУДОЙ

    .unsuccessblock
        .unsuccess_header К сожалению, вам не удалось устоять перед простудой
        .unsuccess_text Попробуйте пройти тест-квест <span>еще раз</span>!
        .unsuccess_image
            img(src='static/img/unsuccess.png')
        .unsuccess_btn УЗНАТЬ, КАК УСТОЯТЬ ПЕРЕД ПРОСТУДОЙ

    .hurts
        .hurt#hurt0
            include hurt.svg
        .hurt#hurt1
            include hurt.svg
        .hurt#hurt2
            include hurt.svg