.text1 Устоять перед простудой или свалиться без сил?
.text2 ПОСТАВЬ ЗАПЯТУЮ ТАМ, ГДЕ СЧИТАЕШЬ НУЖНЫМ
.text3
    include fraza.svg
img#imageright.introimg(src='static/img/img1s.png')
img#imagewrong.introimg(src='static/img/img1u.png')
