@import 'nib'
@require './../tmp'

.intro
  verAlign()
  //margin-top menu_height + 2*menu_margin
  .text1
    font-size 21px
    text-align center
  .text2
    background-color color_orange
    border-radius 10px
    text-align center
    color white
    font-size 21px
    padding 11px
    margin-bottom 20px
    margin-top 20px
    @media (max-width: 760px)
      margin-left 10px
      margin-right 10px
    @media (min-width: 760px)
      margin-left 180px
      margin-right 180px
  .text3
    width 100%
    height 60px
    position relative
    overflow hidden
    svg
      horAlign()
      position absolute
      #commaWrong
        btn()
        #cw
          nopointer()
        #commaconturw
          nopointer()
      #commaRight
        btn()
        #cr
        #commaconturr
          nopointer()
  .introimg
    position relative
    width 200px
    height auto
    horAlign()
