.promo_circle
    include promo.svg
.promo_texts
    .promo_header Промокод на Витрум<sup>®</sup> уже близко!<br>Вам необходимо:
    .promo_text Скопировать код и перейти на страницу Витрум<br>(30 таблеток) на сайте <a href='http://apteka.ru/catalog/vitrum-n30-tabl-po_76518/?utm_campaign=internetapteka&utm_source=ria.ru&utm_medium=promokod&utm_content=30' target='_blank'>Apteka.ru</a>
        include check2.svg
    .promo_text Вставить код на странице оформления заказа
        include check2.svg
    .promo_text Забрать заказ в аптеке рядом с домом*
        include check2.svg

.promo_subtext Партнер проекта: корпорация «Юнифарм, Инк» (США)<br><br>*Организатор, порядок и сроки выдачи промокодов, их действие и иные условия акции уточняйте на сайте <a href='http://apteka.ru/catalog/vitrum-n30-tabl-po_76518/?utm_campaign=internetapteka&utm_source=ria.ru&utm_medium=promokod&utm_content=30' target='_blank'>Apteka.ru</a><br><br>Рег. уд. П №012720/01-270410<br>1. Действие обусловлено компонентами, входящими в состав препарата.<br>2. В.Г. Ребров, О.А. Громова, Витамины, Макро- и микроэлементы. Обучающие программы РС института микроэлементов ЮНЕСКО, Издательство ГЕОТАР-Медиа 2008, 954 с.<br>3. Принц В., Борц Р., Гирш М. Влияние витаминов на некоторые показатели человеческой иммунной защитной системы. Институт натур нутрицевтики, 1977; 47 (3):248-257
.spacer