@import 'nib'
@require './../tmp'

.promo
  margin-top 140px
  position relative
  bottom 0
  .promo_circle
    horAlign()
    position absolute
    top -97px
  .promo_texts
    font-family HelveticaNeueRegular
    background-color color_orange
    border-radius 10px
    padding-top 50px
    padding-bottom 50px
    padding-left 200px
    padding-right 200px
    a
      font-weight 100
      color #4a3415
    .promo_header
      color white
      font-size 32px
      margin-bottom 20px
    .promo_text
      position relative
      font-size 21px
      color color_supergray
      padding-left 25px
      margin-bottom 10px
      svg
        position absolute
        top 5px
        left 0px
  .promo_subtext
    margin-top 50px
    font-size 15px
    color color_gray2
    line-height 24px
    a
      font-weight 100
      color #4a3415
  .spacer
    height 100px