.btn.logo
    img(src='static/img/vitrum.png')
.btn.part Продукт
.btn.part Полезная информация
.btn.part Тест-квест
.btn.discount Промокод на скидку
    img#discountimgl(src='static/img/promol.svg')
    img#discountimgr(src='static/img/promor.svg')