@import 'nib'
@require './../tmp'

.menu
  //overflow hidden
  //margin-top menu_margin
  //margin-bottom menu_margin
  padding-top menu_margin
  width 100%
  horAlign()
  position fixed
  flexbox()
  justify-content space-between
  font-family HelveticaNeueRegular
  background-color color_gray
  height 80px
  @media (max-width: res)
    width 100%
  @media (min-width: res)
    width 1024px
  .btn
    btn()
    text-align center
    height menu_height
    text-transform uppercase
    @media (max-width: 800px)
      padding-top 15px
      font-size 8px
    @media (min-width: 800px)
      padding-top 11px
      font-size 15px

  .logo
    padding-top 0
    @media (max-width: 800px)
      margin-right btn_margin1
    @media (min-width: 800px)
      margin-right btn_margin
    img
      noselect()
      nopointer()
      height menu_height
      width auto

  .part
    flex-basis auto
    flex-grow 1
    background-color white
    border-radius 5px
    color black
    @media (max-width: 800px)
      margin-left btn_margin1
      margin-right btn_margin1
    @media (min-width: 800px)
      margin-left btn_margin
      margin-right btn_margin
    &.hovered
      color white
      background-color color_orange
    &.pressed
      color white
      background-color color_orange

  .discount
    flex-basis auto
    flex-grow 1
    position relative
    color white
    background-color color_red
    margin-right 3px
    @media (max-width: 800px)
      margin-left btn_margin1
    @media (min-width: 800px)
      margin-left btn_margin
    #discountimgl
      display block
      position absolute
      top 0
      left -3px
    #discountimgr
      display block
      position absolute
      top 0
      right -3px
