<script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
        event: 'entrance',
        pagePath: 'slide_01',
        slide_title: 'vitrum - 01',
        anchor: 'anchor-01',
        project: 'vitrum',
        mode: 'flat',
        version: 'd'
    });
</script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T2NZ6V"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T2NZ6V');</script>
<!-- End Google Tag Manager -->