@font-face
    font-family: PTSansRegular;
    src: url('./static/fonts/1/PTS55F.eot');
    src: url('./static/fonts/1/PTS55F.eot?#iefix') format('embedded-opentype'),
        url('./static/fonts/1/PTS55F.ttf') format('truetype'),
        url('./static/fonts/1/PTS55F.woff') format('woff'),
        url('./static/fonts/1/PTS55F.woff2') format('woff2'),
        url('./static/fonts/1/PTS55F.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;


@font-face {
    font-family: bebas_neuebook;
    src: url('./static/fonts/bebasneue-book-webfont/bebasneue-book-webfont.eot');
    src: url('./static/fonts/bebasneue-book-webfont/bebasneue-book-webfont.eot?#iefix') format('embedded-opentype'),
            url('./static/fonts/bebasneue-book-webfont/bebasneue-book-webfont.woff2') format('woff2'),
            url('./static/fonts/bebasneue-book-webfont/bebasneue-book-webfont.woff') format('woff'),
            url('./static/fonts/bebasneue-book-webfont/bebasneue-book-webfont.ttf') format('truetype'),
            url('./static/fonts/bebasneue-book-webfont/bebasneue-book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueRegular;
    src: url('./static/fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueMedium;
    src: url("./static/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.eot");
    src: url("./static/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"),
            url("./static/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.svg") format("svg"),
            url("./static/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf") format("truetype"),
            url("./static/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.woff") format("woff"),
            url("./static/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: HelveticaNeueBold;
    src: url('./static/fonts/HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueCondensedBold;
    src: url('./static/fonts/HelveticaNeue-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}