
-
    var author = 'Maxim Kuteynikov | mahimka@yandex.ru'
    var type = 'site'
    var og_type = 'article'
    var og_title = ''
    var og_description = ''
    var og_url = ''
    var og_image = ''

    const lang = htmlWebpackPlugin.options.lang


doctype html
html(lang=lang)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title !{og_title}
        meta(name='description' content=og_description)
        meta(name='author' content=author)
        meta(name='type' content=type)

        meta(property='og:type' content=og_type)
        meta(property='og:title' content=og_title)
        meta(property='og:description' content=og_description)
        meta(property='og:url' content=og_url)
        meta(property='og:image' content=og_image)

        script(type="text/javascript" src="modernizr.js")

    body
        .content
        //.footer ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМТЕСЬ С ИНСТРУКЦИЕЙ
        img.footer(src='static/img/nadpis.svg')
        include ismobile
        include ./datalayer.html




