@import 'nib'
@import 'tmp'
@require 'fonts'

// особенности локали
lang = lang();

// общие настройки
*
    box-sizing border-box

input,
textarea
    outline none

.clearfix:after {
    content: "."; /* добавить содержимое: "." */
    display: block;  /* сделать блоком, т.к. inline не может иметь clear */
    clear: both;  /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0;  /* сделать высоту 0, чтобы не занимал место */
}

///* хром, сафари */
//html::-webkit-scrollbar { width: 0; }
///* ie 10+ */
//html { -ms-overflow-style: none; }
///* фф (свойство больше не работает, других способов тоже нет)*/
//html { overflow: -moz-scrollbars-none; }

// главный контейнер

body
    size 100% 100%
    font-family HelveticaNeueRegular
    background-color color_gray
    overflow-x hidden
    .content
        horAlign()
        position absolute
        height 100%
        padding-top 100px
        @media (max-width: res)
            width 100%
        @media (min-width: res)
            width 1024px
    .footer
        display block
        position fixed
        width 100%
        left 0
        bottom 0
        z-index 200
        background #fff
        text-align center
        color #999
        font-family bebas_neuebook
        letter-spacing 0.04em

