//
color_gray = #e9e9e9
color_gray2 = #58595b
color_orange = #f79b1c
color_red = #e85938
color_green = #99cc00
color_blue = #009fe3
color_pink = #e770af
color_supergray = #4a3415

color_0 = #e88940
color_1 = #facf29
color_2 = #adca41
color_3 = #37c3ed
color_4 = #26b596

res = 1024px

menu_height = 40px
menu_margin = 20px
btn_margin = 10px
btn_margin1 = 5px



bgcover()
    background-size cover
    background-repeat no-repeat
    background-position center

cntr()
    position: absolute
    top 50%
    left 50%
    transform: translate(-50%, -50%);

horAlign()
    position relative
    left 50%
    transform: translate(-50%, 0);

verAlign()
    position relative
    top 50%
    transform: translate(0, -50%);

noselect()
    -webkit-touch-callout none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none

nopointer()
    pointer-events none

btn()
    cursor pointer
    pointer-events auto

flexbox()
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex

shadow1()
    -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.37);
    -moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.37);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.37);

shadow2()
    -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.14);
    -moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.14);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.14);
