@import 'nib'
@require './../tmp'

.product
  position relative
  bottom 0
  .pr_upper
    flexbox()
    justify-content space-between
    margin-bottom 40px
    width 100%
    .par_upper_texts
      position relative
      color color_gray2
      max-width 600px
      .pr_header
        font-size 46px
        margin-bottom 20px
      .pr_text
        font-size 21px
        line-height 30px
    .pr_image
      position relative
      size 400px 297px
      img
        display block
        position relative
        left 7px

  .pr_vitrum
    width 100%
    border-radius 10px
    color white
    background-color color_orange
    padding-left 20px
    padding-right 20px
    padding-top 20px
    padding-bottom 20px
    text-align center
    margin-bottom 40px
    .pr_vitrum_header
      margin-bottom 20px
      font-size 21px
      color color_supergray
    .pr_vitrum_texts
      flexbox()
      flex-wrap wrap
      -webkit-flex-wrap wrap
      justify-content center
      -webkit-justify-content center
      .pr_vitrum_text
        position relative
        margin-left 20px
        margin-right 20px
        font-size 21px
        svg
          position absolute
          top 5px
          left -20px

  .pr_vitamins
    flexbox()
    justify-content space-between
    margin-bottom 40px
    .pr_container
      .pr_shadow
        position absolute
        opacity 0.5
        noselect()
        border-radius 10px
        size 95px 95px
        margin-top 5px
      .pr_vitamin
        color white
        noselect()
        position relative
        font-family HelveticaNeueBold
        font-size 60px
        border-radius 10px
        padding 10px
        size 95px 95px
        text-align center
        btn()
      #vit0
      #svit0
        background-color color_0
      #vit1
      #svit1
        background-color color_1
      #vit2
      #svit2
        background-color color_2
      #vit3
      #svit3
        background-color color_3
      #vit4
      #svit4
        background-color color_4
    @media (max-width: res)
      padding-left 0px
      padding-right 0px
    @media (min-width: res)
      padding-left 180px
      padding-right 180px

  .pr_popup
    horAlign()
    flexbox()
    shadow2()
    background-color white
    border-radius 10px
    border 1px solid #6f6f6f
    padding 15px
    width 80%
    min-height 125px
    position relative
    .vit_name
      font-family HelveticaNeueBold
      font-size 28px
      width 200px
      min-width 200px
      margin-right 20px
      position relative
      background-color gray
      border-radius 10px
      padding-top 30px
      padding-bottom 30px
      color white
      text-align center
    .vit_text
      font-family HelveticaNeueRegular
      font-size 15px
      position relative
      color color_gray2
    .vit_img
      flex-shrink 0
      width 155px
      position relative
      img
        position absolute
        width 175px
        height auto
        margin-top -20px
        margin-left 20px
    .vit_angle
      position absolute
      top -15px