.pr_upper
    .par_upper_texts
        .pr_header Что поможет устоять<br>и не свалиться перед простудой?
        .pr_text Витрум<sup>®</sup> — сбалансированный по составу витаминно-минеральный комплекс, содержащий 13 витаминов и 17 минералов
    .pr_image
        img(src='static/img/img2.png')

.pr_vitrum
    .pr_vitrum_header Витрум<sup>®</sup> содержит специальный комплекс витаминов A, C, E, Se и Zn, который:
    .pr_vitrum_texts.clearfix
        .pr_vitrum_text Повышает устойчивость к простудам
            include check.svg
        .pr_vitrum_text Усиливает ответ иммунной системы
            include check.svg
        .pr_vitrum_text Ускоряет выздоровление
            include check.svg
        .pr_vitrum_text Снижает число повторных заболеваний
            include check.svg

.pr_vitamins
    .pr_container
        .pr_shadow#svit0
        .pr_vitamin#vit0 A
    .pr_container
        .pr_shadow#svit1
        .pr_vitamin#vit1 C
    .pr_container
        .pr_shadow#svit2
        .pr_vitamin#vit2 E
    .pr_container
        .pr_shadow#svit3
        .pr_vitamin#vit3 Se
    .pr_container
        .pr_shadow#svit4
        .pr_vitamin#vit4 Zn

.pr_popup
    .vit_name Цинк
    .vit_text Активно участвует в образовании клеток иммунной защиты. В сочетании с витамином С является мощным оружием против простуды, увеличивая сопротивляемость организма.
    .vit_img
        img(src='static/img/v3.png')
    .vit_angle
        include angle.svg


